@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
.toggle-checkbox:checked {
  @apply: right-0 border-blue-500 bg-blue-400 r-0;
  right: 0;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-blue-400;
  background-color: #23487d;
}
.form-tail {
  
  @apply  border border-gray-800 rounded-lg py-2 px-4 block w-full appearance-none leading-normal text-gray-200 bg-gray-900 cursor-pointer  shadow
}

.form-tail:focus {
  @apply cursor-text outline-none bg-gray-700 ;
}
.btn-primary-tail-rounded {
  @apply cursor-pointer text-white text-center font-semibold py-2 px-4 border  bg-blue-500  rounded-full mr-2;
}
.btn-primary-tail-rounded:hover {
  @apply bg-blue-400 text-white;
}

.btn-warning-tail-rounded {
  @apply cursor-pointer text-white text-center font-semibold py-2 px-4 border  bg-yellow-500  rounded-full mr-2;
}
.btn-warning-tail-rounded:hover {
  @apply bg-yellow-400 text-white;
}

.painel {
  @apply bg-gray-800 shadow rounded-lg;
}

.categoria-header{
  @apply text-white font-bold
}
}

